@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

.custom-icon {
  width: var(--dashboard-map-custom-icon-width) !important;
  aspect-ratio: 1/1;
  border: var(--dashboard-map-custom-icon-border);
  border-radius: var(--dashboard-map-custom-icon-border-radius);
}
